<div id="login-screen" class="display-none" style="text-align:left;margin:20px">
    <form id="login-screen-form">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="login-screen-form-email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="login-screen-form-password" placeholder="Password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Remember Me
            </label>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <a href="#" class="btn btn-default" id="cmd-login-execute">Login</a>
        </div>
        <div style="margin-top: 20px">
            <div class="btn-group" role="group" aria-label="...">
                <a href="#" class="btn btn-default" id="cmd-reset-pass-screen">Reset Password</a>
                <a href="#" class="btn btn-default" id="cmd-register-screen">Register</a>
            </div>
        </div>
    </form>
</div>
