@{
    ViewBag.Title = "Index";
}

<style>
    .navbar-default .navbar-nav>li>a {
        color: #eeeeee;
    }

    .navbar-default .navbar-nav>li>a:hover {
        color: #cccccc;
    }

    .navbar-default .navbar-header>a {
        color: #eeeeee;
    }

    .navbar-default .navbar-header>a:hover {
        color: #cccccc;
    }

    .navbar-default {
        margin-bottom:0px;
    }
</style>

<div align="center">
    <div>
        <h2 style="display:inline-block;">W</h2>
        <h2 style="color:red;display:inline-block;">00</h2>
        <h2 style="display:inline-block;">F v0.1 alpha</h2>
    </div>
</div>

<div align="center">
    <div id="app-container" style="border-style:solid;border-width:3px;width:450px;height:800px">
        <nav class="navbar navbar-default" style="background-color:#b13c37">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand header-button" id="cmd-app-menu-open">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li id="app-page-header"><h4 style="color:#ffffff;padding-top:8px;">All Categories</h4></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" id="app-login-pending">
                        <li>
                            <a href="#" class="header-button" id="cmd-login-screen"><span class="glyphicon glyphicon-log-in"></span></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right display-none" id="app-login-done">
                        <li>
                            <a href="#" class="header-button" id="cmd-account-settings"><span id="user-welcome"></span></a>
                        </li>
                        <li>
                            <a href="#" class="header-button" id="cmd-logout-execute"><span class="glyphicon glyphicon-log-out"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- the side menu -->
        <div id="master-detail-menu" class="display-none">
            <ul class="list-group">
                <li id="cmd-categories-all" data-category-id="-1" class="list-group-item main-menu-clickable"
                    data-bind="click: function () { $root.refreshEvents(null,null) }">All Categories</li>
                <li id="cmd-categories-menu" class="list-group-item main-menu-clickable">Categories</li>
                <li>
                    <ul id="category-filter-menu" class="list-group"></ul>                
                </li>
            </ul>
        </div>

        <div id="app-content-pane">
            <div id="event-browser">

                <!--The event detail-->
                <div id="event-detail-container" class="display-none">

                    <div class="row">
                        <div class="col-xs-10"></div>
                        <div class="col-xs-2"><span style="cursor:pointer;" data-bind="click: $root.toggleEventDetail" class="glyphicon glyphicon-remove"></span></div>
                    </div>

                    <div><strong style="font-size:large;" data-bind="text: eventDetail().EventName"></strong></div>
                    <br />

                    <div class="row event-intro">
                        <div class="event-image col-xs-3" >
                            <!--<span class="glyphicon glyphicon-picture"></span>-->
                            <img data-bind="attr: { src: 'http://localhost:63188/content/images/' + eventDetail().ImageURL }" style="padding:5px 0px 5px 5px;width:100px;height:auto;"/>
                        </div>
                        <div class="event-title-time col-xs-9" style="padding-top:5px;">
                            <div style="color:#808080;" data-bind="text: eventDetail().Date"></div>
                            <div style="color:#808080;" data-bind="text: 'Atwood Ballroom'"></div>
                        </div>
                    </div>

                    <div class="event-content" style="display:inline-block;width:400px;text-align:left;">
                        <div class="event-description" style="padding:10px 5px 5px 5px;" data-bind="text: eventDetail().Description" >
                        </div>
                    </div>
                </div>

                <!--The subscription box-->
                <div id="event-subscription-container" class="display-none">
                    
                    <div class="row">
                        <div class="col-xs-10"></div>
                        <div class="col-xs-2"><span style="cursor:pointer;" data-bind="click: $root.toggleSubscription" class="glyphicon glyphicon-remove"></span></div>
                    </div>

                    <form>
                        <div class="form-group">
                            <label for="event-subscription-date">Date</label>
                            <input type="date" id="event-subscription-date" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="event-subscription-time">Time</label>
                            <input type="time" id="event-subscription-time" class="form-control" />
                        </div>
                        <button type="button" class="btn btn-default" data-bind="click: $root.toggleSubscription">Cancel</button>
                        <button type="button" class="btn btn-default" data-bind="click: $root.refreshSubscription">Submit</button>
                    </form>

                </div>
                
                <div class="modal fade" id="event-modal" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Hockey with Santa</h4>
                            </div>
                            <div class="modal-body">
                                Hello Test
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="events" style="text-align:left;background-color:#f7f3f3;height:723px;overflow-y:auto;overflow-x:hidden;" 
                    data-bind="foreach: events">

                    <div class="event-item" style="margin:3px 5px 3px 5px;background-color:#ffffff;">
                        <div class="row event-intro">
                            <div class="event-image col-xs-3" data-bind="click: $parent.refreshEventDetail" style="cursor:pointer;">
                                <!--<span class="glyphicon glyphicon-picture"></span>-->
                                <img data-bind="attr: { src: 'http://localhost:63188/content/images/' + ImageURL }" style="padding:5px 0px 5px 5px;width:100px;height:auto;"/>
                            </div>
                            <div class="event-title-time col-xs-9">
                                <div><strong style="font-size:large;" data-bind="text: EventName"></strong></div>
                                <div style="color:#808080;" data-bind="text: Date"></div>
                                <div style="color:#808080;" data-bind="text: 'Atwood Ballroom'"></div>
                            </div>
                        </div>

                        <div class="event-content" style="display:inline-block;height:80px;width:400px;text-align:left;">
                            <div class="event-description" style="padding:5px;height:30px;overflow:hidden;" data-bind="text: Description" >
                            </div>
                            <div class="event-buttons" style="text-align:right;padding:5px;">
                                <a class="btn btn-default" href="#" role="button" data-bind="click: $root.toggleSubscription"><span data-bind="css: { 'color-yellow' : Subscribed}" class="glyphicon glyphicon-star-empty"></span></a>
                                <a class="btn btn-default" href="#" role="button"><span class="glyphicon glyphicon-option-vertical"></span></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            @Html.Partial("_LoginPartial")
            @Html.Partial("_RegisterPartial")
        </div>

    </div>
</div>
