@{
    ViewBag.Title = "Index";
}

<div align="center">
    <div>
        <h2 style="display:inline-block;">W</h2>
        <h2 style="color:red;display:inline-block;">00</h2>
        <h2 style="display:inline-block;">F v0.1 alpha</h2>
    </div>
</div>

<div align="center">
    <div id="app-container" style="border-style:solid;border-width:3px;width:450px;height:800px">
        <nav class="navbar navbar-default" style="background-color:#b13c37">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span class="navbar-brand" style="color:#ffffff;"><span class="glyphicon glyphicon-th-list"></span></span>
                </div>
            </div>
        </nav>

        <!-- the side menu -->
        <div id="master-detail-menu" class="display-none">
            
        </div>

        <div id="event-browser">

            <div class="events" style="text-align:left;background-color:#f7f3f3;"> 

                <div class="event-item" style="margin:3px 5px 3px 5px;background-color:#ffffff;">
                    <div class="row event-intro">
                        <div class="event-image col-xs-3" >
                            <span class="glyphicon glyphicon-picture" ></span>
                        </div>
                        <div class="event-title-time col-xs-9" >
                            <div><strong style="font-size:large;">Super Event</strong></div>
                            <div style="color:#808080;">04/26/2015</div>
                            <div style="color:#808080;">1:00PM - 3:00PM</div>
                            <div style="color:#808080;">Atwood Ballroom</div>
                        </div>
                    </div>
                    
                    <div class="event-content" style="display:inline-block;height:80px;text-align:left;">
                        <div class="event-description" style="padding:5px;">
                            Lorem ipsum dolor sit amet, ne mel recteque urbanitas neglegentur, tantas nullam sed at. Vis no nisl democritum. Graeco posidonium honestatis mei ad, an usu nihil fabulas. Id movet lobortis eos. Brute pericula vel at, eu per affert eruditi offendit.
                        </div>
                        <div class="event-buttons" style="text-align:right;padding:5px;">
                            <a class="btn btn-default" href="#" role="button"><span class="glyphicon glyphicon-star-empty"></span></a>
                            <a class="btn btn-default" href="#" role="button"><span class="glyphicon glyphicon-option-vertical"></span></a>
                        </div>
                    </div>
                </div>

                

            </div>
            
        </div>

    </div>
</div>
