@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    St. Cloud State University<br />
    720 Fourth Avenue South<br />
    St. Cloud, MN 56301-4498<br />
    <abbr title="Phone">P:</abbr>
    320-308-4966
</address>

<address>
    <strong>Development:</strong>   <a href="mailto:saha1201@stcloudstate.edu">saha1201@stcloudstate.edu</a><br />
</address>