@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SCSU Event Hub</h1>
    <p class="lead">SCSU Event Hub is the best way to publish and manage events in Central Minnesota.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What it's about</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Involved</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Help Develop</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>